<div class="container">
    <header id="headerContainer">
      <h3 class="heading">Calory Tracker</h3>
    </header>
    <main class="mainSection">
      <div class="inputSectionArea">
        <div class="inputArea">
          <div class="searchInput">
            <label for="search">Search</label>
            <input type="text" [(ngModel)]="searchItem" id="searchBox" name="search">
          </div>
          <div class="newFoodArea">
            <button id="newFood" (click)="addFood()">Add New Food</button>
            <div class="addNewFoodArea">
              <div class="newFoodName">
                <label for="name">Name</label>
                <input type="text" [(ngModel)]="name" placeholder="Enter food name">
              </div>
              <div class="newFoodCalories">
                <label for="calories">Calories</label>
                <input type="text" [(ngModel)]="calories" placeholder="Enter food calories">
              </div>
              <div class="newFoodImage">
                <label for="Image">Image</label>
                <input type="text" [(ngModel)]="image" placeholder="Enter food Image">
              </div>
            </div>
          </div>
        </div>
        <div id="totalCalories">
          <h2>Today's Foods 2021 cal</h2>
          <div *ngFor="let item of foodList">
            <li *ngIf="item.quantity !== 0">{{ item.name }} - {{ item.calories }} x {{ item.quantity }}</li> 
          </div>
        </div>
      </div>
      <div id="displayContainer" *ngIf="foodList.length">
        <div class="foodDisplay" *ngFor="let item of foodList | searchFilter: searchItem">
          <div class="imageSection">
            <img src="{{ item.image }}" alt="">
          </div>
          <div class="foodDetails">
            <div class="foodName">{{ item.name.toUpperCase() }}</div>
            <div class="foodCalories">Calory - {{ item.calories }}</div>
            <div class="foodCalories">Quantity - {{ item.quantity }}</div>
            <div class="quantity">
              <input type="text" class="quantityField" #quantityAdded (input)="setQuantity($event)">
              <button class="addQuantity" (click)="quantityAdded.value = ''" (click)="addQuantity(item.name)">Add</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  